@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Zilla+Slab:wght@300;400;700&display=swap');


/* variables */
:root {
  --header-height: 3rem;

  --first-color: #228B22;
  --second-color: #ffff00;
  --dark-color: #0e1026;
  --white-color: #fbfbfb;

  /* Fonts and typograpy */
  --body-font: 'Play', serif;
  --secondary-font: 'Zilla Slab', serif;
  --nav-name-font-size: 1.5rem;
  --normal-font-size: 0.938rem;

  /* z-index */
  --z-fixed: 100;
}


@media screen and (min-width: 768px) {
  :root {
    --nav-name-font-size: 1rem;
    --normal-font-size: 1rem;
  }
}

/* base styling */

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--secondary-font);
  font-size: var(--normal-font-size);
  font-weight: 500;
}

/* hero section */

.hero {
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.6)), url(../images/bg2.jpg);
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  padding: 0 1rem;
  background-color: #fff;
  z-index: var(--z-fixed);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.header-logo {
  color: var(--dark-color);
}

.header-toggle {
  font-size: 1.7rem;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--first-color);
    width: 80%;
    height: 100vh;
    padding: 2rem 0;
    z-index: var(--z-fixed);
    transition: .5s;
    overflow-y: auto;
  }

  .nav-content {
    display: flex;
    flex-direction: column;
  }

  .nav-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
  }

  .nav-img {
    display: flex;
    justify-content: center;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1rem;
  }

  .nav-img img {
    width: 95px;
  }

  .nav-name {
    display: block;
    font-size: var(--nav-name-font-size);
    font-family: var(--body-font);
    color: var(--white-color);
  }

  .nav-item {
    /*  NILIKUWA NIMEFIKA HAPA */
  }
}

.btn {
  padding: 10px 20px;
  border: 0;
  background: var(--white-color);
  font-weight: bold;
  font-size: 16px;
  color: var(--first-color);
  border-radius: 5%;
  cursor: pointer;
}

.banner-title {
  margin: 80px 130px;
  display: none;
}

.banner-title h1 {
  font-size: 82px;
  color: #fff;
  font-family: var(--body-font);
}

.banner-title h1::after{
  content: '';
  height: 2px;
  width: 40%;
  background: yellow;
  display: block;
  margin: 0;

}

.banner-title p {
  font-family: var(--secondary-font);
  font-size: 20px;
  margin-top: 10px;
  line-height: 2rem;
  color: #fff;
  margin-bottom: 10px;
}

.banner-title h1 span {
  color: #228B22;
  font-family: 'Play', serif;

}



/* Team page styling */

.hero-team {
  height: 40vh;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.6)), url(../images/bg4.jpg);
  background-size: cover;
  background-position: bottom;
  overflow-x: hidden;
  position: relative;
}

.team-banner-title h1 { 
  color: #fff;
  text-align: center;
  font-size: 3rem;  
  font-family: 'Play', serif;
}

/* new styles added to project */