* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* border: 1px solid black; */
}

/* hero section */

.hero {
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.6)), url(../images/bg2.jpg);
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  position: relative;
}

.nav-bar {
  display: flex;
  padding: 40px 120px;
}

.nav-logo img {
  width: 130px;

}

.nav-links {
  flex: 1;
}

.nav-links ul {
  margin-left: 100px;
  display: inline;
  font-family: 'Play', sans-serif;

}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 25px;
}

.nav-links ul a {
  color: #fff;
  font-size: 16px;
  text-decoration: none ;
  font-family: 'Play', sans-serif;
  text-transform: uppercase;
}

.nav-links ul li::after {
  content: '';
  width: 0;
  height: 2px;
  background: yellow;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.btn {
  padding: 10px 20px;
  border: 0;
  background: #228B22;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.nav-links .btn {
  float: right;
}

.banner-title {
  margin: 80px 130px;
}

.banner-title h1 {
  font-size: 82px;
  color: #fff;
  font-family: 'Play', serif;

}

.banner-title h1::after{
  content: '';
  height: 2px;
  width: 40%;
  background: yellow;
  display: block;
  margin: 0;

}

.banner-title p {
  font-family: 'Zilla Slab', serif;
  font-size: 20px;
  margin-top: 10px;
  line-height: 2rem;
  color: #fff;
  margin-bottom: 10px;
}

.banner-title h1 span {
  color: #228B22;
  font-family: 'Play', serif;

}

.vertical-bar {
  height: 100%;
  background: #000;
  top: 0;
  left: 0;
  position: absolute;
}

.search-icon {
  height: 60%;
  width: 80px;
}

.search-icon .fa {
  margin: 45px 23px;
  display: block;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}

.social-icons {
  height: 35%;
  width: 80px;
  background: #228B22;
  text-align: center;
  padding-top: 27%;
  bottom: 0;
  position: absolute;
}

.social-icons .fa {
  margin: 15px 23px;
  display: block;
  padding: 8px;
  border: 1px solid #000;
  border-radius: 50%;
  cursor: pointer;
}

.nav-bar .fa {
  display: none;
}

@media (max-width: 700px) {
  .vertical-bar {
    display: none;
  }

  .banner-title {
    margin: 80px 40px;
  }

  .banner-title h1 {
    font-size: 50px;
  }

  .nav-bar {
    padding: 10px 30px;
  }

  .fa-bars {
    position: absolute;
    right: 20px;
    top: 10px;
  }
  
  .nav-bar .fa {
    display: block;
    color: #fff;
    margin: 10px 25px;
    font-size: 22px;
    cursor: pointer;
  }

  .nav-links {
    height: 100vh;
    width: 200px;
    background: #000;
    top: 0;
    right: 0;
    position: absolute;
    text-align: left;
    z-index: 2;
  }

  .nav-links ul a {
    display: block !important;
  }

  .nav-links .btn {
    float: none;
    margin-left: 25px;
    margin-top: 10px;
  }

  .fa-close {
    position: absolute;
    right: 20px;
    top: 10px;
  }
}

/* Team page styling */

.hero-team {
  height: 40vh;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.6)), url(../images/bg4.jpg);
  background-size: cover;
  background-position: bottom;
  overflow-x: hidden;
  position: relative;
}

.team-banner-title h1 { 
  color: #fff;
  text-align: center;
  font-size: 3rem;  
  font-family: 'Play', serif;
}

.effectTab-header .caption,
.effectTab-header .title {
  font-weight: 700;
  padding-bottom: 20px;
  position: relative;
  display: inline-block;
  color: #228B22;
  margin: 0 0 20px;
  text-align: center;
  text-transform: uppercase;
}

.effectTab-header .title {
  font-size: 36px;
  font-family: 'Play', serif ;
}

column-1,
.column-10,
.column-11,
.column-12,
.column-2,
.column-3,
.column-4,
.column-5,
.column-6,
.column-7,
.column-8,
.column-9 {
  float: left;
  padding: 5px
}

.effectTab-header .title::after,
.effectTab-header .title::before {
  position: absolute;
  background: #228B22;
  content: ""
}

.effectTab-header .title::before {
  left: 0;
  width: 156%;
  height: 3px;
  margin-left: -28%;
  bottom: -1.5px;
}

.effectTab-header .title::after {
  left: 50%;
  width: 25px;
  height: 25px;
  bottom: -26px;
  margin: 0 0 0 -10px;
  -webkit-clip-path: polygon(75% 0, 75% 69%, 41% 93%, 0 68%, 0 0);
  clip-path: polygon(75% 0, 75% 69%, 41% 93%, 0 68%, 0 0);
}

body {
  background-color: #f5f5f5;
  filter: alpha(opacity=10);
  background-attachment: fixed;
}

.column-1 {
  width: 8.333333333333333%
}

.column-9 {
  width: 75%
}

.column-12,
.wrapper-full {
  width: 100%
}

.custom-row::after {
  content: "";
  display: table;
  clear: both;
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
}

.box-tab {
  margin: 10px 0;
}

.effect {
  box-shadow:  0 0 15px 5px rgba(0, 0, 0, .07);
  background-color: #fff;
  border: 5px solid #f5f5f5;
}

.tab-container {
  padding: 50px 0;
}

.tab .effect {
  position: relative;
  overflow: hidden;
  max-height: 500px;
  max-width: 350px;
  background: #000;
  text-align: center;
  cursor: pointer;
}



/* End of team section styling for team section */


/* screen responsive styles less than 650px - mobile phones */
@media screen and (max-width: 650px) {
  .goalie {
    width: 100%;
    display: block;
  }
}

