* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* border: 1px solid black; */
}

/* hero section */

.hero {
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.7)), url(../images/bg2.jpg);
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  position: relative;
}

.nav-bar {
  display: flex;
  padding: 40px 120px;
}

.nav-logo img {
  width: 130px;

}

.nav-links {
  flex: 1;
}

.nav-links ul {
  margin-left: 100px;
  display: inline;
  font-family: 'Play', sans-serif;

}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 25px;
}

.nav-links ul a {
  color: #fff;
  font-size: 16px;
  text-decoration: none ;
  font-family: 'Play', sans-serif;
  text-transform: uppercase;
}

.nav-links ul li::after {
  content: '';
  width: 0;
  height: 2px;
  background: yellow;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.btn {
  padding: 10px 20px;
  border: 0;
  background: #228B22;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.nav-links .btn {
  float: right;
}

.banner-title {
  margin: 80px 130px;
}

.banner-title h1 {
  font-size: 82px;
  color: #fff;
  font-family: 'Ceviche One', cursive;
}

.banner-title h1::after{
  content: '';
  height: 2px;
  width: 40%;
  background: yellow;
  display: block;
  margin: 0;

}

.banner-title p {
  font-family: 'Zilla Slab', serif;
  font-size: 20px;
  margin-top: 10px;
  line-height: 2rem;
  color: #fff;
  margin-bottom: 10px;
}

.banner-title h1 span {
  color: #228B22;
  font-family: 'Ceviche One', cursive;
}

.vertical-bar {
  height: 100%;
  background: #000;
  top: 0;
  left: 0;
  position: absolute;
}

.search-icon {
  height: 60%;
  width: 80px;
}

.search-icon .fa {
  margin: 45px 23px;
  display: block;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}

.social-icons {
  height: 35%;
  width: 80px;
  background: #228B22;
  text-align: center;
  padding-top: 27%;
  bottom: 0;
  position: absolute;
}

.social-icons .fa {
  margin: 15px 23px;
  display: block;
  padding: 8px;
  border: 1px solid #000;
  border-radius: 50%;
  cursor: pointer;
}

.nav-bar .fa {
  display: none;
}

@media (max-width: 700px) {
  .vertical-bar {
    display: none;
  }

  .banner-title {
    margin: 80px 40px;
  }

  .banner-title h1 {
    font-size: 50px;
  }

  .nav-bar {
    padding: 10px 30px;
  }

  .fa-bars {
    position: absolute;
    right: 20px;
    top: 10px;
  }
  
  .nav-bar .fa {
    display: block;
    color: #fff;
    margin: 10px 25px;
    font-size: 22px;
    cursor: pointer;
  }

  .nav-links {
    height: 100vh;
    width: 200px;
    background: #000;
    top: 0;
    right: 0;
    position: absolute;
    text-align: left;
    z-index: 2;
  }

  .nav-links ul a {
    display: block !important;
  }

  .nav-links .btn {
    float: none;
    margin-left: 25px;
    margin-top: 10px;
  }

  .fa-close {
    position: absolute;
    right: 20px;
    top: 10px;
  }
}